@model EventosCRUD.Models.Evento

@{
    ViewData["Title"] = "Detalles del Evento";
}

<h1><i class="bi bi-eye me-2"></i>Detalles del Evento</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AsistentesRegistrados)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AsistentesRegistrados)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadMaxima)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CapacidadMaxima)
        </dd>
        <dt class="col-sm-2">
            Lugares Disponibles
        </dt>
        <dd class="col-sm-10">
            @Model.LugaresDisponibles
        </dd>
        <dt class="col-sm-2">
            Porcentaje de Ocupación
        </dt>
        <dd class="col-sm-10">
            @Model.PorcentajeOcupacion
        </dd>
        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @if (Model.Estado == "Hoy")
            {
                <span class="badge bg-danger">@Model.Estado</span>
            }
            else if (Model.Estado == "Próximo")
            {
                <span class="badge bg-warning">@Model.Estado</span>
            }
            else if (Model.Estado == "Finalizado")
            {
                <span class="badge bg-secondary">@Model.Estado</span>
            }
            else
            {
                <span class="badge bg-info">@Model.Estado</span>
            }
        </dd>
        <dt class="col-sm-2">
            Disponibilidad
        </dt>
        <dd class="col-sm-10">
            @if (Model.Disponibilidad == "Agotado")
            {
                <span class="badge bg-danger">@Model.Disponibilidad</span>
            }
            else if (Model.Disponibilidad == "Últimos lugares")
            {
                <span class="badge bg-warning">@Model.Disponibilidad</span>
            }
            else
            {
                <span class="badge bg-success">@Model.Disponibilidad</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>